body {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

#gameWrapper {
    position: relative;
}

#gameCanvas {
    width: 800px;
    height: 640px;
    z-index:0;
}

hr {
    margin: 0 15px;
}

a {
    font-size: 26px;
    display: block;
    text-align: center;
    padding: 15px;
    
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

a:hover,
a.active {
    color: #ccc;
    background: #333;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #06f;
}

p {
    padding: 0 15px;
    color: #ccc;
    font-size: 16px;
}

p strong {
    color: #1f6;
}

.menu {
    visibility: hidden;
    position: absolute;
    background: rgba(0,0,0,.85);
    border-radius: 15px;
    z-index: 50;
    
    top: 45px;
    left: 200px;
    width: 400px;
    height: 550px;
    opacity: 0;
    
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}


.menu.active {
    visibility: visible;
    opacity: 1;
}
#difficulty {
    left: 50px;
    width: 700px;
}

.rangeChoice {
    position: relative;
    margin: 10px 0 25px;
    width: 100%;
    display: inline-block;
}
.rangeChoice label {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 10px;
    margin-right: 28px;
    width: 100px;
}
.rangeChoice input[type=range] {
    width: 50%;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 50px;
}

.rangeChoice .value {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 20px;
}

.left {
    border-right: 2px solid #eee;
}
.left,
.right {
    float: left;
    width: 50%;
    box-sizing: border-box;
}


.fullWidth {
    width: 100%;
    display: block;
    clear: both;
}

.fullWidth .left {
    border: 0;
}

#startMenu h1 {
    font-size: 48px;
    text-align: center;
    color: #1f6;
}

#startMenu hr {
    margin: 0 50px;
}

.header {
    position: relative;
}

.dalek {
    background: url('../img/dalek.png') left top no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 14px;
    left: 10px;
}

.dalek-left {
    background-position: 0 -32px;
    right: 10px;
    left: auto;
}

.dalek-right {
    background-position: 0 0;
}


#volume {
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 20px;
}

#volume .note {
    background: url('../img/ui.png') left top no-repeat;
    width: 26px;
    height: 24px;
    background-position: -104px 0;
    display: inline-block;
    margin-right: 10px;
}

#volume .note.muted {
    background-position: -130px 0;
}
#volume input {
    width: 100px;
}